body
{
	background-color: #888888;
}

.container
{
	background-color: white;
}

#Container
{
	border: 3px solid white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 15px;
}

#jeden
{
	border: 3px solid white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 15px;
	padding-top: 15px;
}

.item
{
	padding: 20px;
	transition: all .5s;
}

.item:hover
{
	transform: scale(1.05);
	box-shadow: 0 0 20px #666;
	background-color: #d4d4d4;
}

.simpleCart_items img
{
	max-width: 64px;
	max-height: 64px;
}

.item-quantity, .item-increment, .item-decrement, .item-total, .table-striped, .item_Quantity
{
	text-align: center;
}

.container .mix
{
	display: none;
}

.glyphicon-shopping-cart, .simpleCart_quantity
{
	font-size: 150%;
}

.navbar_Brand_Label
{
	color: #777;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}
